<div class="content-w">
    <div class="content-i">
        <div class="content-box">
            <div class="big-error-w">
                <h1>
                    {{ error.status }}
                </h1>
                <h5>
                    {{ error.title }}
                </h5>
                <h4>
                    {{ error.description }}
                </h4>
                <form>
                    <div class="input-group">
                        <input class="form-control" placeholder="Enter your search query here" type="text" #searchText>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" (click)="search(searchText.value)" >Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
