<div class="content-w">
    <div class="content-i">
        <div class="content-box">
            <div class="row">
                <div class="col-sm-12">
                    <div class="element-wrapper">
                        <form id="formValidate" novalidate="true" #emailForm="ngForm" (ngSubmit)="save()">
                            <div class="element-box">
                                <fieldset class="form-group">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="20" [(ngModel)]="messageHTML" name="message"></textarea>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-sm-12 row">
                                        <div class="col-sm-12">
                                            <label for="">E-mail</label>
                                            <input class="form-control" style="margin-bottom: 10px;" data-error="Please insert correct E-mail" [(ngModel)]="emails"
                                                placeholder="Test E-mail" name="emails">
                                        </div>
                                        <div class="col-sm-5">
                                            <button class="mr-2 mb-2 btn btn-outline-primary" type="button" (click)="sendTest()">Send</button>
                                            <button class="mr-2 mb-2 btn btn-outline-primary" type="button" (click)="clearCampaigns()">Clear test campaigns</button>
                                        </div>
                                        <div class="col-sm-7">
                                            <span>{{ resultMsg }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-buttons-w">
                                <button class="btn btn-primary" type="submit"> Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
