<div class="logged-user-avatar-info">
    <div class="avatar-w">
      <img alt="" src="assets/img/avatar1.jpg">
    </div>
    <div class="logged-user-info-w">
      <div class="logged-user-name">
        {{ user.name }}
      </div>
      <div class="logged-user-role">
        {{ user.userRole }}
      </div>
    </div>
  </div>
  <div class="bg-icon">
    <i class="os-icon os-icon-wallet-loaded"></i>
  </div>
  <ul>
    <li>
      <a (click)="profileDetail()"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
    </li>
    <li>
      <a (click)="logOut()"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
    </li>
  </ul>
