<ul class="main-menu">
    <li class="">
        <a href="/home">
            <div class="icon-w">
                <div class="os-icon os-icon-window-content"></div>
            </div>
            <span>Home</span>
        </a>
        <ul class="sub-menu">

        </ul>
    </li>

    <li class="has-sub-menu" (click)="openSubMenu(menu)" #menu>
        <a>
            <div class="icon-w">
                <div class="os-icon os-icon-grid-squares"></div>
            </div>
            <span>Customers</span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="/add-customer">Add Customer</a>
            </li>
            <li>
                <a href="/manage-customers">Manage Customers</a>
            </li>
        </ul>
    </li>
</ul>
