<ul class="main-menu">
    <li class="">
      <a href="/home">
        <div class="icon-w">
          <div class="os-icon os-icon-window-content"></div>
        </div>
        <span>Home</span></a>
      <ul class="sub-menu">

      </ul>
    </li>

    <li class="has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-grid-squares"></div>
        </div>
        <span>Customers</span></a>
      <ul class="sub-menu">
        <li>
          <a href="users_profile_small.html">Add Customers</a>
        </li>
        <li>
          <a href="tables_datatables.html">Manage Customers</a>
        </li>
      </ul>
    </li>
  </ul>
