<div class="content-w">

    <div class="content-i">
        <div class="content-box">
            <div class="element-wrapper">
                <div class="user-profile">
                    <div class="up-head-w" style="background-image:url(img/profile_bg1.jpg)">
                        <div class="up-main-info">
                            <h1 class="up-header">
                                Lónkot Bucolic Resort
                            </h1>
                        </div>
                        <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                <path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="up-contents">
                        <h5 class="element-header">
                            User Information
                        </h5>
                        <div>
                            <h6>Name : Lónkot Bucolic Resort</h6>
                            <h6>Email : lonkot@lonkot.is</h6>
                            <h6>Phone : +354 588 5522</h6>
                        </div>
                        <div style="padding:20px 20px">This is just a dummy line. There has to be something related to below checkboxes. Please tick below.This
                            is just a dummy line.This is just a dummy line.This is just a dummy line.</div>
                        <div>

                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" id="asap" class="form-check-input">
                                    <a routerLink="/resort-settings/booked/{{resortId}}">
                                        <h6>When Booked</h6>
                                    </a>
                                </label>
                            </div>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" id="asap" class="form-check-input">
                                    <a routerLink="/resort-settings/check-in/{{resortId}}">
                                        <h6>3 days before Check In</h6>
                                    </a>
                                </label>
                            </div>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" id="asap" class="form-check-input">
                                    <a routerLink="/resort-settings/check-out/{{resortId}}">
                                        <h6>3 days after Check Out</h6>
                                    </a>
                                </label>
                            </div>
                            <div>
                                <label class="form-check-label">
                                    <input type="checkbox" id="asap" class="form-check-input">
                                    <a routerLink="/resort-settings/cancellation/{{resortId}}">
                                        <h6>Cancellation</h6>
                                    </a>
                                </label>
                            </div>
                            <div class="form-buttons-w">
                                <button class="btn btn-primary disabled" type="submit"> Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="up-contents">
                        <h5 class="element-header">
                            Profile Statistics
                        </h5>
                        <div class="row m-b">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 b-r b-b">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                3.814
                                            </div>
                                            <div class="label">
                                                E-mails Sent
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 b-b b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                2.123
                                            </div>
                                            <div class="label">
                                                Opened E-mails
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                12%
                                            </div>
                                            <div class="label">
                                                Bounce Rate
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                12
                                            </div>
                                            <div class="label">
                                                Cancellations
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="padded">
                                    <div class="element-info-with-icon smaller">
                                        <div class="element-info-icon">
                                            <div class="os-icon os-icon-bar-chart-stats-up"></div>
                                        </div>
                                        <div class="element-info-text">
                                            <h5 class="element-inner-header">
                                                Monthly E-mails
                                            </h5>
                                            <div class="element-inner-desc">
                                                Calculated every month
                                            </div>
                                        </div>
                                    </div>
                                    <div class="el-chart-w">
                                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                        <canvas height="200" id="liteLineChart" width="463" style="display: block; width: 463px; height: 200px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="os-tabs-w">
                            <div class="os-tabs-controls">
                                <ul class="nav nav-tabs bigger">
                                    <li class="nav-item">
                                    </li>
                                </ul>
                                <ul class="nav nav-pills smaller hidden-sm-down">
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#">Today</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#">7 Days</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#">14 Days</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#">Last Month</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_sales">
                                    <div class="el-tablo">
                                        <div class="label">
                                            Last Week
                                        </div>
                                        <div class="value">
                                            223
                                        </div>
                                    </div>
                                    <div class="el-chart-w">
                                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                        <canvas height="271" id="lineChart" width="1084" style="display: block; width: 1084px; height: 271px;"></canvas>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_conversion"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
