<div class="content-w">
    <div class="content-i">
        <div class="content-box">
            <div class="row">

                <div class="col-sm-12">
                    <div class="element-wrapper">
                        <div class="element-box">
                            <form id="formValidate" #customerForm="ngForm" (ngSubmit)="addCustomer()">
                                <div class="element-info">
                                    <div class="element-info-with-icon">
                                        <div class="element-info-icon">
                                            <div class="os-icon os-icon-wallet-loaded"></div>
                                        </div>
                                        <div class="element-info-text">
                                            <h5 class="element-inner-header">
                                                Add Customer
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">
                                                    <h5>Company</h5>
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">
                                                    <h5>Contact</h5>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Name</label>
                                                <input type="text" class="form-control" data-error="Please input your Name" placeholder="Name" required="required"
                                                [(ngModel)]="customer.company.name" name="companyName">
                                                <div class="help-block form-text with-errors form-control-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Name</label>
                                                <input type="text" class="form-control" data-error="Please input your Name" placeholder="Name" required="required"
                                                [(ngModel)]="customer.person.name" name="name">
                                                <div class="help-block form-text with-errors form-control-feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Email</label>
                                                <input type="text" class="form-control" data-error="Please input your E-mail" placeholder="E-mail" required="required"
                                                [(ngModel)]="customer.company.email" name="email">
                                                <div class="help-block form-text with-errors form-control-feedback"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for=""> Phone</label>
                                                <input type="text" class="form-control" data-error="Please input your Phone" placeholder="Phone" required="required"
                                                [(ngModel)]="customer.company.phone" name="phone">
                                                <div class="help-block form-text with-errors form-control-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Email</label>
                                                <input type="text" class="form-control" data-error="Please input your Email" placeholder="Email" required="required"
                                                [(ngModel)]="customer.person.email" name="email">
                                                <div class="help-block form-text with-errors form-control-feedback"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for=""> Phone</label>
                                                <input class="form-control" data-error="Please input your Phone" placeholder="Phone" required="required" type="text"
                                                [(ngModel)]="customer.person.phone" name="phone">
                                                <div class="help-block form-text with-errors form-control-feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" style="margin-left:0; padding-left:0">
                                        <label for=""> Address</label>
                                        <input class="form-control" data-error="Please put in Address" placeholder="Address" required="required" type="text"
                                        [(ngModel)]="customer.company.address" name="address">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </fieldset>

                                <div class="form-group">
                                    <label for=""> Area</label>
                                    <select class="form-control" required="required" [(ngModel)]="customer.company.area" name="area"
                                        placeholder="Select Area">
                                        <option *ngFor="let area of areas">
                                            {{ area }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-buttons-w">
                                    <button class="btn btn-primary" type="submit" [disabled]="!customerForm.form.valid">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
