<section class="content">
    <div class="container-fluid">
        <div class="block-header">
        </div>

        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">trending_up</i>
                    </div>
                    <div class="content">
                        <div class="text">

                            New Customers</div>
                        <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">125</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">trending_down</i>
                    </div>
                    <div class="content">
                        <div class="text">Customers deleted</div>
                        <div class="number count-to" data-from="0" data-to="2" data-speed="1000" data-fresh-interval="20">2</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">message</i>
                    </div>
                    <div class="content">
                        <div class="text">E-mails Sent</div>
                        <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">{{ total.emailsSent }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">New Bookings</div>
                        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">1225</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->

        <div class="row clearfix">
            <!-- Visitors -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-blue">
                        <div class="sparkline" data-type="line" data-spot-radius="4" data-highlight-spot-color="rgb(233, 30, 99)" data-highlight-line-color="#fff"
                            data-min-spot-color="rgb(255,255,255)" data-max-spot-color="rgb(255,255,255)" data-spot-color="rgb(255,255,255)"
                            data-offset="90" data-width="100%" data-height="92px" data-line-width="2" data-line-color="rgba(255,255,255,0.7)"
                            data-fill-color="rgba(0, 188, 212, 0)">
                            <div class="m-b--35 font-bold">E-mails Sent</div>
                        </div>
                        <ul class="dashboard-stat-list">
                            <li>
                                TODAY
                                <span class="pull-right">
                                    <b>{{ statistics[0].emailsSent }}</b>
                                    <small>USERS</small>
                                </span>
                            </li>
                            <li>
                                YESTERDAY
                                <span class="pull-right">
                                    <b>{{ statistics[1].emailsSent }}</b>
                                    <small>USERS</small>
                                </span>
                            </li>
                            <li>
                                LAST WEEK
                                <span class="pull-right">
                                    <b>{{ statistics[2].emailsSent }}</b>
                                    <small>USERS</small>
                                </span>
                            </li>
                            <li>
                                LAST MONTH
                                <span class="pull-right">
                                    <b>{{ statistics[3].emailsSent }}</b>
                                    <small>USERS</small>
                                </span>
                            </li>
                            <li>
                                LAST YEAR
                                <span class="pull-right">
                                    <b>{{ statistics[4].emailsSent }}</b>
                                    <small>USERS</small>
                                </span>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
            <!-- #END# Visitors -->

            <!-- Answered Tickets -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-blue">
                        <div class="font-bold m-b--35">CTR </div>
                        <ul class="dashboard-stat-list">
                            <li>
                                TODAY
                                <span class="pull-right">
                                    <b>{{ statistics[0].ctr * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                YESTERDAY
                                <span class="pull-right">
                                    <b>{{ statistics[1].ctr * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                LAST WEEK
                                <span class="pull-right">
                                    <b>{{ statistics[2].ctr * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                LAST MONTH
                                <span class="pull-right">
                                    <b>{{ statistics[3].ctr * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                LAST YEAR
                                <span class="pull-right">
                                    <b>{{ statistics[4].ctr * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                ALL
                                <span class="pull-right">
                                    <b>{{ total.ctr * 100 }}%</b>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #END# Answered Tickets -->

            <!-- Answered Tickets -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="body bg-blue">
                        <div class="font-bold m-b--35">Bounce Rate </div>
                        <ul class="dashboard-stat-list">
                            <li>
                                TODAY
                                <span class="pull-right">
                                    <b>{{ statistics[0].bounceRate * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                YESTERDAY
                                <span class="pull-right">
                                    <b>{{ statistics[1].bounceRate * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                LAST WEEK
                                <span class="pull-right">
                                    <b>{{ statistics[2].bounceRate * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                LAST MONTH
                                <span class="pull-right">
                                    <b>{{ statistics[3].bounceRate * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                LAST YEAR
                                <span class="pull-right">
                                    <b>{{ statistics[4].bounceRate * 100 }}%</b>
                                </span>
                            </li>
                            <li>
                                ALL
                                <span class="pull-right">
                                    <b>{{ total.bounceRate * 100 }}%</b>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #END# Answered Tickets -->
        </div>

        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="content">
                        <div class="text">

                            South</div>
                        <div class="number count-to" data-from="0" data-to="215" data-speed="1115" data-fresh-interval="20">215</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                    <div class="content">
                        <div class="text">East</div>
                        <div class="number count-to" data-from="0" data-to="43" data-speed="1000" data-fresh-interval="20">43</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </div>
                    <div class="content">
                        <div class="text">North</div>
                        <div class="number count-to" data-from="0" data-to="66" data-speed="1000" data-fresh-interval="20">66</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </div>
                    <div class="content">
                        <div class="text">West</div>
                        <div class="number count-to" data-from="0" data-to="55" data-speed="1000" data-fresh-interval="20">55</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <!-- Widgets -->
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="content">
                        <div class="text">

                            Reykjavik</div>
                        <div class="number count-to" data-from="0" data-to="421" data-speed="1115" data-fresh-interval="20">421</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="content">
                        <div class="text">Reykjanes</div>
                        <div class="number count-to" data-from="0" data-to="24" data-speed="1000" data-fresh-interval="20">24</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </div>
                    <div class="content">
                        <div class="text">Westfjords</div>
                        <div class="number count-to" data-from="0" data-to="33" data-speed="1000" data-fresh-interval="20">33</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-bluemaroon hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">public</i>
                    </div>
                    <div class="content">
                        <div class="text">All</div>
                        <div class="number count-to" data-from="0" data-to="764" data-speed="1000" data-fresh-interval="20">764</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->
        <div class="row clearfix">
            <!-- Task Info -->

        </div>
    </div>
</section>
